div#searchbox
  input#search(name='searchstr', placeholder='#{search}')
div#menulist
  ul
    li.menuitem
      a(href='#{forum_root}/newthread') #{newthread}
    li.menuitem
      a(href='#{forum_root}/settings') #{settings}
    li.menuitem
      a(href='#{forum_root}/help') #{help}

div#taglist

