div#menulist
  ul
    li.menuitem
      a#newthread(href='#{forum_root}/#newthread') #{newthread}
    li.menuitem
      a#settings(href='#{forum_root}/#settings') #{settings}
    li.menuitem
      a#help(href='#{forum_root}/#help') #{help}

div#taglist

